body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.wrapper__task-section {
  width: fit-content;
  border: 1px solid rgba(121, 121, 121, 1);
  padding: 0.67rem;
}

h1{
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 32px;
  color: rgb(51, 51, 51);
}

.table__td {
}
